:root {
  --hero-bg: #f1f3ff;
  --primary-dark-blue-04: #0d28a6;
  --white: #fff;
}

html,
body {
  font-family: "Arial";
}

#hero {
  background-color: var(--hero-bg);
}

.navbar {
  --bs-bg-opacity: 0;
}

#cta .card {
  color: #fff;
  background-color: var(--primary-dark-blue-04);
}

.logo {
  display: block;
  background: var(--primary-dark-blue-04);
  height: 2.5rem;
  width: 7rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  background-color: var(--primary-dark-blue-04);
  width: 2rem;
  height: 2rem;
  color: var(--white);
  border-radius: 99999px;
}

.navbar-toggler {
  border: 0;
}

.hero-content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width:50%;
}

@media (max-width: 575.98px) {
  .hero-content {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .hero-image {
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
  }
}
